<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand" routerLink="/">
    Betting Dashboard
  </a>

  <div class="navbar-nav">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      {{ t('DASHBOARD') }}
    </a>

    <a class="nav-link" routerLink="/bets" routerLinkActive="active">
      {{ t('BETS') }}
    </a>

    <a class="nav-link" routerLink="/bankroll" routerLinkActive="active">
      {{ t('BANKROLL') }}
    </a>

    <a class="nav-link" routerLink="/analytics" routerLinkActive="active">
      {{ t('ANALYTICS') }}
    </a>
    <a class="nav-link" routerLink="/events" routerLinkActive="active">
      {{ t('EVENTS') }}
    </a>
  </div>


  <div class="ms-auto"
  *ngIf="authService.isLoggedIn()">

  <span class="text-light me-3">
    👤 {{ authService.getUser()?.username }}
  </span>

  <button
    class="btn btn-outline-danger btn-sm"
    (click)="logout()">

    Logout

  </button>

</div>
</nav>

<router-outlet></router-outlet>